@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('./reset.css');

.archive-app-body {
    width: 18em;
}

.archive-title-bar {
    padding: .75em .65em;
    background-color: #B191FF;
}

.archive-title-bar, .archive-name-container button {
    box-shadow: 0px 1px 4px #999;
}

.archive-name-container button:hover {
    box-shadow: 2px 2px 3px #666;
    /* slightly darkened button color purple */
    background-color: #a27cff;
}

.archive-title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
}

.archive-name-container {
    white-space: nowrap;
    padding-right: 8em;
    padding-left: .65em;
    padding-top: .5em;
    padding-bottom: .75em;
}

.archive-name-container input, .archive-name-container button, .archive-name--edit {
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.archive-name-container input, .archive-name--edit {
    border-top: none;
    border-right: none;
    border-left: none;
    padding: .2em 0em;

    width: 100%;
}

.archive-name-container input:focus {
    outline-color: #B191FF;
    border-radius: 20px;
    border-bottom: none;
}

.archive-btn {
    border-radius: 8px;
    padding: .13em .75em;

    font-weight: bold;

    background-color: #B191FF;
    border-color: transparent;
    color: #fff;
}

.archive-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: .5em .65em;
}

.archive-list-item.even {
    background-color: #eee;
    box-shadow: 0px 0px 4px #999;
}

.archiveInfo {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
}

.archive-list-item--header {
    line-height: 1.5em;
    font-weight: bold;
}

.archive-header-link {
    color: #333;
}

.archive-header-link:active, .archive-header-link:focus, .archive-header-link:hover {
    color: #B191FF;
}

.archive-list-item--item-count {
    color: #333;
    font-size: 12px;
}

.archive-list-item--archive-actions {
    display: flex;
}

.archive-list-item--archive-actions button{
    border-radius: 4px;
    font-size: 16px;
    padding: .4em .4em;
}

.archive-delete-button:hover svg, .archive-edit-button:hover svg {
    stroke: #333;
}