@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('./reset.css');

.app-body {
    width: 18em;
}

.title-bar {
    padding: .75em .65em;
    background-color: #B191FF;
}

.title-bar, .name-container button {
    box-shadow: 0px 1px 4px #999;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
}

.name-container {
    white-space: nowrap;
    padding-right: 8em;
    padding-left: .65em;
    padding-top: .5em;
    padding-bottom: .75em;
}

.name-container input, .name-container button {
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.name-container input {
    border-top: none;
    border-right: none;
    border-left: none;
    padding: .2em 0em;

    width: 100%;
}

.name-container input:focus {
    outline-color: #B191FF;
    border-radius: 20px;
    border-bottom: none;
}

.name-container button {
    border-radius: 8px;
    padding: .13em .75em;

    font-weight: bold;

    background-color: #B191FF;
    border-color: transparent;
    color: #fff;
}

.archiveListItem {
    padding: .5em .65em;
}

.archiveListItem.even {
    background-color: #eee;
    box-shadow: 0px 0px 4px #999;
}

.archiveInfo {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
}

.archiveListItem--header {
    line-height: 1.5em;
    font-weight: bold;
}

.archiveListItem--header a {
    color: #333;
}

.archiveListItem--header a:active {
    color: #B191FF;
}

.archiveListItem--item-count {
    color: #333;
    font-size: 12px;
}